<h1>About Doglog</h1>

<p>Doglog is a blog... for your dog! Or dogs! Register today and start posting about what your dog
  has been up to in his or her spare time.</p>

<p>Follow the adventures of your friends' dogs, and share your dogs' adventures with them. The
  possibilities are endless!</p>

<p>Doglog is demo software and is provided as-is. Doglog may shut down at any time, without notice.
  Please do not put important, irretrievable information into Doglog. Doglog is a test. Doglog
  loves you.</p>
