<article class="panel">
  <div class="dog-name">
    <%= link_to post.dog.name, post.dog %>
  </div>

  <div class="post-body">
    <%= markdown post.body %>
  </div>

  <p class="posted-at">
    <%= link_to [post.dog, post] do %>
      Posted at <%= l(post.created_at, format: :short) %>
    <% end %>
  </p>
</article>
